* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: figtree;
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

body {
    background-color: hsl(47, 88%, 63%);
    font-family: figtree;
}
.card-container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.card-container .card {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    max-width: 400px;
    border: 2px solid black;
    box-shadow: 10px 10px;
}

.card-container .card .card-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.card-container .card .card-image img {
    border-radius: 15px;
}

.card-container .card .text-field .learning {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
} 

.card-container .card .text-field .learning span{
    background-color: hsl(47, 88%, 63%);
    padding: 5px 7px;
    border-radius: 5px;
}

.card-container .card .text-field .publish-date {
    font-size: 14px;
    margin-bottom: 15px;
    color: hsl(0, 0%, 7%);
}

.card-container .card .text-field .main-content h3 {
    margin-bottom: 20px;
    color: hsl(0, 0%, 7%);
}

.card-container .card .text-field .main-content p {
    margin-bottom: 20px;
    color: hsl(0, 0%, 42%);
    font-size: 16px;
}

.card-container .card .text-field .publisher img {
    max-width: 35px;
    max-height: 35px;
}
.card-container .card .text-field .publisher {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.card-container .card .text-field .publisher span {
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
}
